html
{
    width: 100%;
}

body
{
    margin: 0 auto;
    background-color: beige;
}

*
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1
{
    text-align: center;
}

h4
{
    margin: 0;
}

header
{
    background-color: #90BAED;
}

nav
{
    display: flex;
    justify-content: space-around;
}

section
{
    width: 80%;
    margin: 2rem auto;
}

img
{
    width: 100%;
    height: auto;
}

#intro
{
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "title img"
        "text img";
}

/* The image gets too squished past a certain resolution, so I moved it below the text. */
@media screen and (max-width: 600px)
{
    #intro
    {
        display: block;
        height: fit-content;        
    }
}

.intro-header
{
    grid-area: title;
}

.intro-text
{
    grid-area: text;
}

.intro-image
{
    grid-area: img;
}

.intro-image img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#gallery
{
    display: flex;
}

/* Work in progress.  I'd like to make this turn into a 4x4 grid if possible. */
@media screen and (max-width:600px) 
{
    #gallery
    {
        flex-direction: column;
    }
}

footer
{
    display: flex;
    justify-content: space-between;
    background-color: #90BAED;
}