html
{
    width: 100%;
}
body
{
    margin: 0 auto;
}

header
{
    background-color: #90BAED;
}

nav
{
    display: flex;
    justify-content: space-around;
}

section
{
    width: 70%;
    margin: 2rem auto;
}

img
{
    width: 100%;
    height: auto;
}

#intro
{
    height: fit-content;
    display: grid;
    border: solid 1px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
        "title img"
        "text img";
}

.intro-header
{
    grid-area: title;
}

.intro-text
{
    grid-area: text;
}

.intro-img
{
    grid-area: img;
}

#gallery
{
    display: flex;
}