/* To-Do:
Add a carousel
Build out contact page
Add alt-text
*/

/* color palette
standard(light)
background: F5F5DC
text: 001D46
footer, image borders: 7BBAF5

dark
background: 001D46
text: F5F5DC

*/
html
{
	width: 100%;
}

body
{
	margin: 0 auto;
	background-color: #F5F5DC;
	height: 100vh;
}

main
{
	height: fit-content;
}

.doc-text
{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: #001D46;
}

h1
{
	text-align: center;
}

h2
{
	margin: 0 0;
}

#intro h3
{
	text-align: center;
	margin: 0;
}

header
{
	background-color: #7BBAF5;
	padding: 5px 0
}

nav
{
	display: flex;
	justify-content: space-evenly;
}

nav a
{
	text-decoration: none;
	color: inherit;
}

section
{
	width: 80%;
	margin: 2rem auto;
}

img
{
	width: 100%;
	height: auto;
}

th,
td,
img
{
	border: 1px solid #826956;
}

#intro
{
	display: grid;
	height: fit-content;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"title img"
		"text img";
	column-gap: 1rem;
}

.intro-header
{
	grid-area: title;
}

.intro-text
{
	grid-area: text;
}

.intro-image
{
	grid-area: img;
}

.intro-image img
{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

footer
{
	display: flex;
	justify-content: space-between;
	background-color: #7BBAF5;
	padding: 0.5rem;
}

#light-mode
{
	display: none;
}

.button
{
	display: inline-block;
	padding: 2px;
	border: #001D46 1px solid;
	border-radius: 5px;
	transition: box-shadow 100ms, transform 100ms;
}

.button:hover
{
	cursor:pointer;
	background-color: #649acc;
	box-shadow: 2px 2px #001D46;
	transform: translate(-2px,-2px);
}

.button:active
{
	box-shadow: none;
	transform: none;
}


/* -----gallery.html specific IDs & selectors----- */

#gallery
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 0.25em;
	/* grid-auto-flow: dense; */
}

#gear-table
{
	width: 100%;
}

#gallery img   /* Currently this is NOT actually specific to gallery.html, because the gallery index.html uses the same ID.*/
{
	height: 100%;
	object-fit: cover;
	transition: transform 500ms, box-shadow 500ms;
}

#gallery img:hover
{
	bottom: 5px;
	right: 5px;
	box-shadow: 5px 5px #7BBAF5;
	transform: translate(-5px, -5px);
}


.long-grid-img
{
	grid-row: span 2;
}


/* -----contact.html specific IDs & selectors----- */
#contact-form
{
	padding: 1rem;
	background-color: #7BBAF5;
	border-radius: 10px;
	min-width: 150px;
	max-width: 40vw;
}

#contact-form h3
{
	text-align: center;
}

#contact-form form
{
	display: flex;
	flex-direction: column;
}

textarea
{
	resize: none;
}

/* -----media queries----- */

/* The image gets too squished past a certain resolution, so I moved it below the text. */
@media screen and (max-width: 600px)
{
	#intro
	{
	  display: block;
	  height: fit-content;        
	}
}